<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ if .Key }}
    <title>[{{ .Key }}] {{.Project}} - jirajira</title>
    {{ else }}
        {{ if .Project }}
            <title>{{ .Project }} - jirajira</title>
        {{ else }}
            <title>jirajira</title>
        {{ end }}
    {{ end }}

    <link rel="stylesheet" type="text/css" href="/static/css/var.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/status.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/input.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/code.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/attachment.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/breadcrumbs.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/details.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/comment.css" />

</head>
<body>
    <nav>
        <a href="/">dash</a>
        <a href="/issues?jql=assignee+%3D+currentUser()">issues</a>
    </nav>
    <main>
